.album-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.album {
  text-align: center;
}

a {
  text-decoration: none;
 
}

@media (min-width: 667px) {
  .album-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  .album-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
