.album-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin: 2rem;
}

.side-grid {
  background-color: #121212;
  margin-top: 27px;
  border-radius: 20px;
  height: fit-content;
}

.album {
  margin: 10px;
}

.album-sidebar-container {
  display: flex;
  height: 100vh;
}

a {
  text-decoration: none;
}

.sub-heading {
  margin-left: 45px;
}
#singles-heading {
  padding-top: 10px;
}

@media (min-width: 667px) {
  .album-grid {
    grid-template-columns: 1fr 1fr;
  }
  .sub-heading {
    margin-left: 40px;
  }
}
@media (min-width: 1025px) {
  .album-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
