.album-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.album-grid::after {
  content: "";
  flex: 0 45%;
}

.album {
  text-align: center;
}

a {
  text-decoration: none;
}
