.image-container {
  position: relative;
}

img {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  width: 100%;
}

.icons-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  transition: 0.5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.image-container:hover img {
  opacity: 0.3;
}
.image-container:hover .icons-container {
  opacity: 1;
}
.icons {
  width: 30px;
}
.icons:hover {
  cursor: pointer;
  transform: scale(1.5);
}
