.image-container {
  position: relative;
  width: 50%;
}

img {
  opacity: 1;
  width: 18rem;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.icons-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  transition: 0.5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover img {
  opacity: 0.3;
}
.image-container:hover .icons-container {
  opacity: 1;
}
.icons {
  width: 30px;
}
.icons:hover {
  cursor: pointer;
  transform: scale(1.5);
}