.sidebar-playlist {
  background-color: #121212;
  margin: 1rem;
  padding: 1rem;
  min-width: 20%;
}

.sidebar-playlist img {
  max-width: 4rem;
}
.sidebar-playlist h2 {
  margin: 1rem;
}

.playlist h4 {
  display: none;
  align-self: center;
}

.playlist {
  display: flex;
}

.playlist img {
  margin: 1rem;
}
.playlist:hover {
  cursor: pointer;
  background-color: #242424;
}

@media (min-width: 768px) and (max-width: 1800px) {
  .sidebar-playlist {
    min-width: 21%;
  }
  .sidebar-playlist h2 {
    padding-left: 1rem;
  }

  .playlist {
    margin: 1rem;
  }
  .playlist h4 {
    display: block;
  }
}
